In [27]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [28]:
df = pd.read_csv("student-mat.csv", sep=";")

In [29]:
df = df[["age","absences","freetime","Medu", "G1","G2","G3"]]

In [33]:
predict = "G3"

X = np.array(df.drop([predict], axis=1))
y = np.array(df[predict])

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)

In [35]:
print(x_test.shape)

(40, 6)

In [24]:
df.head()

   age  absences  freetime  Medu  G1  G2  G3
0   18         6         3     4   5   6   6
1   17         4         3     1   5   5   6
2   15        10         3     1   7   8  10
3   15         2         2     4  15  14  15
4   16         4         3     3   6  10  10